{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   {% block headerinclude %}
   <title>ORGANIZER DASHBOARD</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="{% static 'media/metroEventsLogo.png' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/userdashboard_eventList.css' %}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   {% endblock headerinclude %}
</head>
<body>
   {% block content %}
   <img src="{% static 'media/logo.png' %}" width="505" height="130" class="center">
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <!-- <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
         </div> -->
         <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li class="active" class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="o-eventlist" >Events List</a></li><!-- href="userDashboard_eventList"
        <div id="collapse1" class="panel-collapse collapse in">
                     <ul class="list-group">
                        <li class="list-group-item">Events List</li>
                        <li class="list-group-item">
                           <a href="joinedevents">Joined Events</a>
                           <span class="badge">{{joinedEventsCount}}</span> 
                        </li>
                     </ul>
                  </div> -->
         {% if not isOrganizer == "true" %}
          <li><a href="o-eventlist"> Organize Events</a></li>{% endif %}
          <li><a data-toggle="modal" data-target="#modalAdminRequest" data-parent="#accordion" href="#collapse3"> Administrator Events</a></li>
        </ul>
      </li><!-- 
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="notifications" class="notification" style="color:#ffffff;"> <span>Notifications</span> <span class="badge">{{notifcount}}</span> </a> </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#myaccountModal">My Account</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
</div>
</nav>
<div class="container-fluid">
    <!--Table--->
         <div class="col col-md-12">
            <div id="card-header" class="card-header bg-dark text-light">
               <h1 class="text-center" style="font-weight: 500;">NOTIFICATIONS</h1>
               <br> 
            </div>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">Title</th>
                     <th scope="col">User</th>
                     <th scope="col">Type</th>
                     <th scope="col">Date and Time</th>
                     <th scope="col"></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     {% for notif in notifications %}
                     <td>{{notif.title}}</td>
                     <td>{{notif.user.first_name}} {{notif.user.last_name}}</td>
                     <td>{{notif.notifType}}</td>
                     <td>{{notif.sentDateTime}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalView-{{notif.id}}" style="background-color:#028090; border-color: #028090;"><i class="fa fa-eye"></i>Details</button>
                        <!-- <button type="button" class="btn btn-success btn-xs" id="viewBtn" style="background-color: #F45B69; border-color: #F45B69;"><i class="fa fa-eye"></i>Discard</button> -->
                     </td>
                     
                  </tr>
                     <!-- Modal VIEW-->
                     <div class="modal fade" id="modalView-{{notif.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                           <div class="modal-content">
                              <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                 <h5 class="modal-title">NOTIFICATION</h5>
                              </div>
                              <div class="modal-body bg-dark text-light">
                                 <div class="row">
                                    <strong>
                                       <p>&nbsp;&nbsp;&nbsp;&nbsp;Notification Description</p>
                                    </strong>
                                    <center>
                                       <textarea id="w3review" name="w3review" rows="8" cols="100" style="width: 95%;" readonly>{{notif.description}} </textarea>
                                    </center>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="submit" id="btnOk" name="btnOk" class="btn btn-primary" data-dismiss="modal" style="background-color:#028090; color:#ffffff;">Ok</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}

                  <!-- Modal Organizer Request-->
                  <!-- <div class="modal fade" id="modalOrgRequest" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1ac5ff">
                              <h5 class="modal-title">REQUEST TO BE ORGANIZER</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                           </div>
                           <form id="updateForm" method="post">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <center> Request for Organizer role for more privilege </center>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-12">
                                    <center>
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                       <button type="submit" id="btnUpdate" name="btnUpdate" class="btn btn-primary">SUBMIT</button>
                                    </center>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div> -->
                  <!-- Modal Admin Request-->
                  <!-- <div class="modal fade" id="modalAdminRequest" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <b>
                                 <h5 class="modal-title">REQUEST TO BE ADMINISTRATOR</h5>
                              </b>
                           </div>
                           <div class="modal-body">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <br>
                                    <center> Be one of the Administrators </center>
                                    <br> 
                                 </div>
                                 <div class="col-sm-12">
                                    <form method="POST">
                                       {% csrf_token %}
                                       <center>
                                          <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CANCEL</button> &nbsp; &nbsp; &nbsp;
                                          <button type="submit" id="btnAdminRoleRequest" name="btnAdminRoleRequest" class="btn" style="background-color:#028090; border-color:#028090; color:#ffffff;">SUBMIT</button>
                                       </center>
                                    </form>
                                    <br>
                                    <br> 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> -->
               </tbody>
            </table>
            <div id="card-header" class="card-header bg-dark text-light">
               <h6 class="text-center" style="font-weight: 100;"></h6>
            </div>
{% endblock content %}
</body>
</html>
