<!DOCTYPE html> {% load static %}
<html lang="en">
   <head>
      {% block headerinclude %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>ORGANIZER DASHBOARD</title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
      {% endblock headerinclude %} 
   </head>
   <style>
      .close {
      color: #ffffff;
      }
      .modal-dialog {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      }
   </style>
   <body style="background: #E4FDE1">
      {% block content %}
      <nav class="navbar navbar-default navbar-static-top" style="background-color: #1C2541; border-color: #1C2541;">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#" style="color:#ffffff;">
               ORGANIZER DASHBOARD
               </a> 
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#" style="color:#ffffff;">{{user.first_name}} {{user.last_name}}</a></li>
                  <li>
                     <a href="o-notifications" class="notification" style="color:#ffffff;"> <span>Notifications</span> <span class="badge">{{notifcount}}</span> </a>
                  </li>
                  <li><a href="logout" style="color:#ffffff;">Logout</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <!--
         <div style="background:#c4c4ff; height:30px; width:100%">
             <center><h3 style="vertical-align: middle">ORGANIZER DASHBOARD</h3></center>
         </div><br><br>
         -->
      <div class="container-fluid">
         <div class="col col-md-3">
            <div class="panel-group" id="accordion">
               <br>
               <div class="panel panel-default">
                  <div class="panel-heading" style="background-color: #F45B69; border-color: #F45B69; color:#ffffff;">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Events</a>
                     </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                     <ul class="list-group">
                        <li class="list-group-item"><a href="o-eventlist">Events List</a><span class="badge">{{eventCount}}</span></li>
                        <li class="list-group-item">Concluded Events</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--Table--->
         <div class="col col-md-9">
            <div id="card-header" class="card-header bg-dark text-light">
               <h1 class="text-center" style="font-weight: 500;">CONCLUDED EVENTS</h1>
               <br> 
            </div>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">Event Name</th>
                     <th scope="col">Upvote Count</th>
                     <th scope="col">Type</th>
                     <th scope="col">Start</th>
                     <th scope="col">End</th>
                     <th scope="col">Details</th>
                     <th scope="col">Participants</th>
                     <th scope="col">Reviews</th>
                  </tr>
               </thead>
               <tbody>
               {% for event in events %}
                  <tr>
                     <td>{{event.name}}</td>
                     <td>{{event.upvotes}}</td>
                     <td>{{event.type}}</td>
                     <td>{{event.startDateTime}}</td>
                     <td>{{event.endDateTime}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalView-{{event.id}}" style="background-color:#028090; border-color: #028090; color: #ffffffff;"><i class="fa fa-eye"></i>Details</button>
                     </td>
                     <td>{{event.participantsCount}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalReviews-{{event.id}}" style="background-color:#1C2541; color:#ffffff; border-color: #1C2541;"><i class="fa fa-pencil"></i>Reviews<span class="badge">0</span></button>
                     </td>
                  </tr>
                  <!-- Modal VIEW-->
                  <div class="modal fade" id="modalView-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">{{event.name}}</h5>
                           </div>
                           <form id="updateForm" method="post">
                              <div class="modal-body bg-dark text-light">
                                 <div class="row">
                                    <strong>
                                       <p>&nbsp;&nbsp;&nbsp;&nbsp; Event Description</p>
                                    </strong>
                                    <center>
                                       <textarea id="description" name="description" rows="8" cols="100" style="width: 95%;">{{event.description}}</textarea>
                                    </center>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-8">
                                       <label>Organizer</label>
                                       <input name="organizer" type="text" max="255" class="form-control" id="organizer" placeholder="Organizer Name" value="" readonly> 
                                    </div>
                                    <div class="col-sm-4">
                                       <label>Number of Participants</label>
                                       <input name="participantsCount" id="participantsCount" type="int" placeholder="" class="form-control" max="100" value="{{event.participantsCount}}" required> 
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#EE4266; text-color:#EE4266; color: #ffffff;">CLOSE</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- Modal PARTICIPANTS-->
                  <!-- <div class="modal fade" id="modalParticipantList" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">(EVENTNAME) PARTICIPANTS</h5>
                           </div>

                              <div class="modal-body bg-dark text-light">
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <strong>
                                          <p>Participant Name</p>
                                       </strong>
                                       <input name="participantsCount" id="participantsCount" type="int" placeholder="" class="form-control" max="100" value="" readonly> 
                                    </div>
                                    <div class="col-sm-12">
                                       <br> 
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CLOSE</button>
                              </div>

                        </div>
                     </div>
                  </div> -->
                  <!-- Modal Review-->
                  <div class="modal fade" id="modalReviews-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">EVENT REVIEWS</h5>
                           </div>
                              <div class="modal-body bg-dark text-light">
                                 {% for review in reviews %}
                                 {% if review.event.id == event.id %}
                                 <div class="row">
                                    <strong>
                                       <p>&nbsp;&nbsp;&nbsp;&nbsp;{{review.user.first_name}} {{review.user.last_name}} - {{review.title}}</p>
                                    </strong>
                                 </div>
                                 <div class="row">
                                    <strong>
                                      <p>&nbsp;&nbsp;&nbsp;&nbsp;Participant's Review</p>
                                    </strong>
                                    <center>
                                       <textarea id="w3review" name="w3review" rows="8" cols="100" style="width: 95%;" readonly> 
                                          {{review.description}}
                                       </textarea>
                                    </center>
                                 </div>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CLOSE</button>
                              </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               </tbody>
            </table>
            <div id="card-header" class="card-header bg-dark text-light">
               <h6 class="text-center" style="font-weight: 100;">This is the list of past events</h6>
            </div>
         </div>
      </div>
      {% endblock content %} 
   </body>
</html>