{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   {% block headerinclude %}
   <title>ORGANIZER DASHBOARD</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="{% static 'media/metroEventsLogo.png' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/userdashboard_eventList.css' %}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   {% endblock headerinclude %}
</head>
<body>
   {% block content %}
   <img src="{% static 'media/logo.png' %}" width="505" height="130" class="center">
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <!-- <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
         </div> -->
         <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li class="active" class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="o-eventlist" >Events List</a></li><!-- href="userDashboard_eventList"
        <div id="collapse1" class="panel-collapse collapse in">
                     <ul class="list-group">
                        <li class="list-group-item">Events List</li>
                        <li class="list-group-item">
                           <a href="joinedevents">Joined Events</a>
                           <span class="badge">{{joinedEventsCount}}</span> 
                        </li>
                     </ul>
                  </div> -->
         {% if not isOrganizer == "true" %}
          <li><a href="o-eventlist"> Organize Events</a></li>{% endif %}
          <li><a data-toggle="modal" data-target="#modalAdminRequest" data-parent="#accordion" href="#collapse3"> Administrator Events</a></li>
        </ul>
      </li><!-- 
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="o-notifications" class="notification" style="color:#ffffff;"> <span>Notifications</span> <span class="badge">{{notifcount}}</span> </a> </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#myaccountModal">My Account</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
</div>
</nav>
<div class="container-fluid">
    <!--Table--->
         <div class="col col-md-12">
            <div id="card-header" class="card-header bg-dark text-light">
               <button type="button" class="btn btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalAddEvent"
               style="float:right; background-color:#F45B69; border-color:#F45B69; color:#ffffff;">
                  <i class="fa fa-plus">ADD EVENT</i>
               </button>
               <h1 class="text-center" style="font-weight: 500;">MY EVENTS</h1>
            </div>
            <h2 class="text-left" style="font-weight: 500;">Upcoming</h2>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">Event Name</th>
                     <th scope="col">Type</th>
                     <th scope="col">Status</th>
                     <th scope="col">Start</th>
                     <th scope="col">End</th>
                     <th scope="col">Participants</th>
                     <th scope="col">Details</th>
                     <th scope="col">Requests</th>
                     <th scope="col">Cancel</th>
                  </tr>
               </thead>
               <tbody>
                  {% for event in events %}
                  <tr>
                     <td>{{event.name}}</td>
                     <td>{{event.type}}</td>
                     <td>{{event.status}}</td>
                     <td>{{event.startDateTime}}</td>
                     <td>{{event.endDateTime}}</td>
                     <td>{{event.participantsCount}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-xs" id="viewBtn" style="background-color:#028090; border-color: #028090; color: #ffffff;" data-toggle="modal" data-target="#modalView-{{event.id}}"><i class="fa fa-eye"></i>Details</button>
                     </td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalJoinReq-{{event.id}}" style="background-color: #1C2541; border-color: #1C2541; color: #ffffff;"><i class="fa fa-exclamation-circle"></i>Join Requests</button>
                     </td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalCancel-{{event.id}}" style="background-color:#F45B69; border-color: #F45B69; color:#ffffff;"><i class="fa fa-trash"></i>CANCEL</button>
                     </td>
                  </tr>
                  
     
                  <!-- Modal VIEW-->
                  <div class="modal fade" id="modalView-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">{{event.name}} Details</h5>
                           </div>
                           <form id="updateForm" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="modal-body bg-dark text-light">
                                 <!-- <div class="row">
                                    {% for organizer in organizers %} {% for user in users %} {% if organizer.user_id == user.id %} {% if organizer.id == event.organizer_id %}
                                    <div class="col-sm-8">
                                       <label>Organizer</label>
                                       <input name="organizer" type="text" max="255" class="form-control" id="organizer" placeholder="" value="{{user.first_name}} {{user.last_name}}"> 
                                    </div>
                                    {% endif %} {% endif %} {% endfor %} {% endfor %} 
                                 </div> -->
                                 <div class="row">
                                    <div class="col-sm-4">
                                       <label>Event Name</label>
                                       <input name="name" type="text" max="255" class="form-control" id="name" placeholder="" value="{{event.name}}" }> 
                                    </div>
                                    <div class="col-sm-4">
                                       <label>Event Type</label>
                                       <input name="type" id="type" type="int" placeholder="" class="form-control" max="100" value="{{event.type}}" required> 
                                    </div>
                                    <div class="col-sm-4">
                                       <input name="eventID" id="eventID" type="hidden" placeholder="" class="form-control" value="{{event.id}}"> 
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-4">
                                       <label>Start</label>
                                       <input name="startdate" type="datetime-local" class="form-control" id="startdate" placeholder="sgs" value="{{event.startDateTime|date:'Y-m-d\TH:i:s'}}"> 
                                    </div>
                                    <div class="col-sm-4">
                                       <label>End</label>
                                       <input name="endDate" id="endDate" type="datetime-local" placeholder="" class="form-control" max="100" value="{{event.endDateTime|date:'Y-m-d\TH:i:s'}}"> 
                                    </div>
                                 </div>
                                 <div class="row">
                                    <center>
                                       <strong>
                                          <p>&nbsp;&nbsp;&nbsp;&nbsp;Description</p>
                                       </strong>
                                       <textarea id="description" name="description" rows="8" cols="100" style="width: 95%;"> {{event.description}}</textarea>
                                    </center>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-4">
                                       <label>Current Participants Count</label>
                                       <input name="participantsCount" id="participantsCount" type="int" placeholder="" class="form-control" max="100" value="{{event.participantsCount}}" readonly> 
                                    </div>
                                    <div class="col-sm-4">
                                       <label>Status</label>
                                       <input name="status" id="status" type="int" placeholder="" class="form-control" max="100" value="{{event.status}}"> 
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; color:#ffffff;">BACK</button>
                                 <button type="submit" id="btnUpdate" name="btnUpdate" class="btn" style="background-color:#028090; color:#ffffff;">UPDATE</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>

                  <!-- Modal Join Requests-->
                  <div class="modal fade" id="modalJoinReq-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">{{event.name}} - Join Requests</h5>
                           </div>
                              {% for request in requests %}
                              {% if request.event.id == event.id %}
                              <div class="modal-body bg-dark text-light">
                                 <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                       <div class="col-sm-12">
                                          <strong>
                                             <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                                          </strong>
                                       </div>
                                       <div class="col-sm-2" hidden>
                                          <input name="requestID" id="requestID" type="int" placeholder="" class="form-control"  max="100" value="{{request.id}}"> 
                                       </div>
                                       <div class="col-sm-6">
                                          <br>
                                          <button type="submit" class="btn btn-xs" id="btnAcceptRequest" name="btnAcceptRequest" data-toggle="modal" data-target="#modalRemoveReason" style="background-color:#028090; border-color:#028090; color:#ffffff;">Accept</button>
                                       </div>
                                       <div class="col-sm-6">
                                          <br>
                                          <button type="submit" class="btn btn-xs" id="btnDeclineRequest" name="btnDeclineRequest" data-toggle="modal" data-target="#modalRemoveReason" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">Decline</button>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                              {% endif %}
                              {% endfor %}
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#1C2541; border-color:#1C2541; color:#ffffff;">CLOSE</button>
                              </div>
                        </div>
                     </div>
                  </div>
                  <!-- Modal Cancel Event-->
                  <div class="modal fade" id="modalCancel-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">CANCEL {{event.name}}</h5>
                           </div>
                           <form id="cancelForm" method="post">
                              {% csrf_token %}
                              <div class="modal-body bg-dark text-light">
                                 <div class="col-sm-2" hidden>
                                    <input name="eventID" id="eventID" type="int" placeholder="" class="form-control"  max="100" value="{{event.id}}"> 
                                 </div>
                                 <strong>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp; Reason of Cancellation</p>
                                 </strong>
                                 <center>
                                    <textarea id="reason" name="reason" rows="8" cols="100" style="width: 95%;"> </textarea>
                                 </center>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; color:#ffffff;">BACK</button>
                                 <button type="submit" id="btnCancel" name="btnCancel" class="btn" style="background-color:#028090; color:#ffffff;">PROCEED</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  
                  </div>

                  {% endfor %} 
               </tbody>
            </table>
            <!--Table--->
         
            <h2 class="text-left" style="font-weight: 500;">Past</h2>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">Event Name</th>
                     <th scope="col">Upvote Count</th>
                     <th scope="col">Type</th>
                     <th scope="col">Start</th>
                     <th scope="col">End</th>
                     <th scope="col">Details</th>
                     <th scope="col">Participants</th>
                     <th scope="col">Reviews</th>
                  </tr>
               </thead>
               <tbody>
               {% for event in concludedEvents %}
                  <tr>
                     <td>{{event.name}}</td>
                     <td>{{event.upvotes}}</td>
                     <td>{{event.type}}</td>
                     <td>{{event.startDateTime}}</td>
                     <td>{{event.endDateTime}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalView-{{event.id}}" style="background-color:#028090; border-color: #028090; color: #ffffffff;"><i class="fa fa-eye"></i>Details</button>
                     </td>
                     <td>{{event.participantsCount}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalReviews-{{event.id}}" style="background-color:#1C2541; color:#ffffff; border-color: #1C2541;"><i class="fa fa-pencil"></i>Reviews<span class="badge">0</span></button>
                     </td>
                  </tr>
                  <!-- Modal VIEW-->
                  <div class="modal fade" id="modalView-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">{{event.name}}</h5>
                           </div>
                           <form id="updateForm" method="post">
                              <div class="modal-body bg-dark text-light">
                                 <div class="row">
                                    <strong>
                                       <p>&nbsp;&nbsp;&nbsp;&nbsp; Event Description</p>
                                    </strong>
                                    <center>
                                       <textarea id="description" name="description" rows="8" cols="100" style="width: 95%;">{{event.description}}</textarea>
                                    </center>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-8">
                                       <label>Organizer</label>
                                       <input name="organizer" type="text" max="255" class="form-control" id="organizer" placeholder="Organizer Name" value="" readonly> 
                                    </div>
                                    <div class="col-sm-4">
                                       <label>Number of Participants</label>
                                       <input name="participantsCount" id="participantsCount" type="int" placeholder="" class="form-control" max="100" value="{{event.participantsCount}}" required> 
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#EE4266; text-color:#EE4266; color: #ffffff;">CLOSE</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- Modal PARTICIPANTS-->
                  <!-- <div class="modal fade" id="modalParticipantList" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">(EVENTNAME) PARTICIPANTS</h5>
                           </div>

                              <div class="modal-body bg-dark text-light">
                                 <div class="row">
                                    <div class="col-sm-12">
                                       <strong>
                                          <p>Participant Name</p>
                                       </strong>
                                       <input name="participantsCount" id="participantsCount" type="int" placeholder="" class="form-control" max="100" value="" readonly> 
                                    </div>
                                    <div class="col-sm-12">
                                       <br> 
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CLOSE</button>
                              </div>

                        </div>
                     </div>
                  </div> -->
                  <!-- Modal Review-->
                  <div class="modal fade" id="modalReviews-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                              <h5 class="modal-title">EVENT REVIEWS</h5>
                           </div>
                              <div class="modal-body bg-dark text-light">
                                 {% for review in reviews %}
                                 {% if review.event.id == event.id %}
                                 <div class="row">
                                    <strong>
                                       <p>&nbsp;&nbsp;&nbsp;&nbsp;{{review.user.first_name}} {{review.user.last_name}} - {{review.title}}</p>
                                    </strong>
                                 </div>
                                 <div class="row">
                                    <strong>
                                      <p>&nbsp;&nbsp;&nbsp;&nbsp;Participant's Review</p>
                                    </strong>
                                    <center>
                                       <textarea id="w3review" name="w3review" rows="8" cols="100" style="width: 95%;" readonly> 
                                          {{review.description}}
                                       </textarea>
                                    </center>
                                 </div>
                                 {% endif %}
                                 {% endfor %}
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CLOSE</button>
                              </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               </tbody>
            </table>
            <div id="card-header" class="card-header bg-dark text-light">
               <h6 class="text-center" style="font-weight: 100;">This is a list of events. You can create your own by the "ADD EVENT" button</h6>
            </div>
         </div>
      </div>

      <!-- Modal ADD EVENT-->
      <div class="modal fade" id="modalAddEvent" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
               <h5 class="modal-title">CREATE EVENT</h5>
            </div>
            <form id="addForm" method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <div class="modal-body bg-dark text-light">
                  <div class="row">
                     <div class="col-sm-8">
                        <label>Organizer</label>
                        <input name="organizer" type="text" max="255" class="form-control" id="organizer" placeholder="Organizer Name" value="{{user.first_name}} {{user.last_name}}" readonly> 
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <label>Event Name</label>
                        <input name="name" type="text" max="255" class="form-control" id="name" placeholder="Event Name" value="" }> 
                     </div>
                     <div class="col-sm-4">
                        <label>Event Type</label>
                        <input name="type" id="type" type="text" placeholder="" class="form-control" max="100" value="" required> 
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <label>Start</label>
                        <input name="startdate" type="datetime-local" class="form-control" id="startdate" placeholder="" value="" }> 
                     </div>
                     <div class="col-sm-4">
                        <label>End</label>
                        <input name="endDate" id="endDate" type="datetime-local" placeholder="" class="form-control" max="100" value="" required> 
                     </div>
                  </div>
                  <div class="row">
                     <strong>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Description</p>
                     </strong>
                     <center>
                        <textarea id="description" name="description" rows="8" cols="100" style="width: 95%;"></textarea>
                     </center>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CANCEL</button>
                  <button type="submit" id="btnAdd" name="btnAdd" class="btn" style="background-color:#028090; border-color:#028090; color:#ffffff;">ADD</button>
               </div>
            </form>
         </div>
      </div>
      </div>

      <!-- Modal Admin Request-->
      <div class="modal fade" id="modalAdminRequest" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header" style="background-color:#1C2541; color:#ffffff;">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                  <b>
                     <h5 class="modal-title">REQUEST TO BE ADMINISTRATOR</h5>
                  </b>
               </div>
               <div class="modal-body">
                  <div class="row">
                     <div class="col-sm-12">
                        <br>
                        <center> Be one of the Administrators </center>
                        <br> 
                     </div>
                     <div class="col-sm-12">
                        <form method="POST">
                           {% csrf_token %}
                           <center>
                              <button type="button" class="btn" data-dismiss="modal" style="background-color:#F45B69; border-color:#F45B69; color:#ffffff;">CANCEL</button> &nbsp; &nbsp; &nbsp;
                              <button type="submit" id="btnAdminRoleRequest" name="btnAdminRoleRequest" class="btn" style="background-color:#028090; border-color:#028090; color:#ffffff;">SUBMIT</button>
                           </center>
                        </form>
                        <br>
                        <br> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endblock content %}
</body>
</html>
