{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   {% block headerinclude %}
   <title>User Dashboard</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="shortcut icon" href="{% static 'media/metroEventsLogo.png' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/userdashboard_eventList.css' %}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   {% endblock headerinclude %}
</head>
<body>
   {% block content %}
   <img src="{% static 'media/logo.png' %}" width="505" height="130" class="center">
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <!-- <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
         </div> -->
         <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li class="active" class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a href="eventlist" >Events List</a></li><!-- href="userDashboard_eventList"
        <div id="collapse1" class="panel-collapse collapse in">
                     <ul class="list-group">
                        <li class="list-group-item">Events List</li>
                        <li class="list-group-item">
                           <a href="joinedevents">Joined Events</a>
                           <span class="badge">{{joinedEventsCount}}</span> 
                        </li>
                     </ul>
                  </div> -->
         {% if not isOrganizer == "true" %}
          <li><a data-toggle="modal" data-target="#modalOrgRequest" data-parent="#accordion" href="#collapse3"> Organize Events</a></li>{% endif %}
          <li><a data-toggle="modal" data-target="#modalAdminRequest" data-parent="#accordion" href="#collapse3"> Administrator Events</a></li>
        </ul>
      </li><!-- 
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li> <a href="notifications" class="notification" style="color:#ffffff;"> <span>Notifications</span> <span class="badge">{{notifcount}}</span> </a> </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a data-toggle="modal" data-target="#myaccountModal" data-parent="#accordion" href="#collapse3">My Account</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </li>
    </ul>
</div>
</nav>
<div class="container-fluid">
    <!--Table--->
    <div class="col col-md-12">
        <div id="card-header" class="card-header bg-dark text-light">
            <h1 class="text-center" style="font-weight: 500;">List of Events</h1>
        </div>
            <h2 class="text-left" style="font-weight: 500;">Upcoming</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Event Name</th>
                     <th scope="col">Type of Event</th>
                     <th scope="col">Start Date & Time</th>
                     <th scope="col">End Date & Time</th>
                     <th scope="col">&nbsp;&nbsp;Show Details</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                {% if not status == "Upcoming" %}
                  <tr>
                     <td>{{event.name}}</td>
                     <td>{{event.type}}</td>
                     <td>{{event.startDateTime}}</td>
                     <td>{{event.endDateTime}}</td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalView-{{event.id}}" style="background-color:#219ebc; border-color: #219ebc;"></i>View</button>
                    </tr>
                    <!-- Modal VIEW-->
                    <div class="modal fade" id="modalView-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#ffb703">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" >&times;</span>
                                    </button>
                                    <h5 class="modal-title" style="color: black">{{event.name}}</h5>
                                </div>
                                <form id="updateForm" method="post">
                                    <div class="modal-body bg-dark text-light">
                                        <input type="text" name="id" hidden>
                                          <div class="container">
                                           
                                             <div class="row" style="width: 1200">
                                              <div class="col-md-3 mb-3">
                                               <label for="startDateTime">Start</label>
                                               <input name="startDateTime" type="text" max="255" class="form-control" id="status" placeholder="startDateTime" value="{{event.startDateTime}}" readonly></div>
                                              <div class="col-md-3 mb-3">
                                                <label for="organizer">End</label>
                                                <input name="endDateTime" type="text" max="255" class="form-control" id="endDateTime" placeholder="endDateTime" value="{{event.endDateTime}}" readonly>
                                              </div>
                                              <div class="col-md-3 mb-4">
                                                <label for="participantsCount">No. of Participants</label>
                                                <input name="participantsCount" type="text" max="255" class="form-control" id="participantsCount" placeholder="participantsCount" value="{{event.participantsCount}}" readonly>
                                             </div>
                                             </div>
                                            <br>
                                            <div class="row" style="width: 1200">
                                             <div class="col-md-6 mb-4">
                                                <label for="description">Description</label>
                                                <textarea id="description" name="description" rows="8" cols="110" style="resize: none;" readonly>{{event.description}}</textarea>
                                             </div>
                                            </div>
                                            <br>
                                            <div class="row" style="width: 1200">
                                              <div class="col-md-3 mb-3">
                                                <label for="organizer">Organizer</label>
                                                <input name="organizer" type="text" max="255" class="form-control" id="organizer" placeholder="organizer" value="{{event.organizer.user.first_name}} {{event.organizer.user.last_name}}" readonly>
                                              </div>
                                              <div class="col-md-3 mb-3">
                                               <label for="type">Type of Event</label>
                                               <input name="type" type="text" max="255" class="form-control" id="type" placeholder="type" value="{{event.type}}" readonly>
                                              </div>
                                              <div class="col-md-3 mb-3">
                                                <label for="upvotes">Upvotes</label>
                                                <input name="upvotes" type="text" max="255" class="form-control" id="upvotes" placeholder="upvotes" value="{{event.upvotes}}" readonly>
                                              </div>
                                            </div>
                                              <br>
                                            <div class="col-sm-4" hidden>
                                       <input name="eventID" id="eventID" type="int" placeholder="" class="form-control" max="100" value="{{event.id}}"> 
                                    </div>
                                         </div>    
                                    </div>
                                    <div class="modal-footer">
                                       {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">BACK</button>
                                        <button type="submit" id="btnJoinEvent" name="btnJoinEvent" class="btn btn-primary" style="background-color:#028090; color:#ffffff;">JOIN</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <h2 class="text-left" style="font-weight: 500;">Joined</h2>
        <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">Event Name</th>
                     <th scope="col">Type</th>
                     <th scope="col">Status</th>
                     <th scope="col">Start</th>
                     <th scope="col">End</th>
                     <th scope="col">Total Votes</th>
                     <th scope="col">Show Details</th>
                     <!-- <th scope="col">Give Review</th> -->
                     <th scope="col">Vote</th>
                     
                  </tr>
               </thead>
               <tbody>
                  {% for event in joinedEvents %}
                  <tr>
                     <td>{{event.name}}</td>
                     <td>{{event.type}}</td>
                     <td>{{event.status}}</td>
                     <td>{{event.startDateTime}}</td>
                     <td>{{event.endDateTime}}</td>
                     <td>{{event.upvotes}}</td>
                     <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="viewBtn" data-toggle="modal" data-target="#modalJoinedView-{{event.id}}" style="background-color:#219ebc; border-color: #219ebc;"></i> View</button>
                     </td>
                     <!-- <td class="align-middle">
                        <button type="button" class="btn btn-success btn-xs" id="reviewBtn" data-toggle="modal" data-target="#modalReview-{{event.id}}" style="background-color: #023047; border-color: #023047;"></i>Review</button>
                     </td> -->
                     <td class="align-middle">
                        <form method="POST">
                           {% csrf_token %}
                           <div class="col-sm-4" hidden>
                              <input name="eventID" id="eventID" type="int" placeholder="" class="form-control" max="100" value="{{event.id}}"> 
                           </div>
                           <button type="submit" class="btn btn-success btn-xs" id="btnUpvote" name="btnUpvote" style="background-color: #ffb703; border-color: #ffb703;"></i>Upvote</button>
                           <button type="submit" class="btn btn-success btn-xs" id="btnDownvote" name="btnDownvote" style="background-color: #ffb703; border-color: #ffb703;"></i>Downvote</button>
                        </form>
                     </td>
                  </tr>
                  <!-- Modal VIEW-->
                  <div class="modal fade" id="modalJoinedView-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#ffb703; color:black;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                              <b>
                                 <h5 class="modal-title">EVENT NAME</h5>
                              </b>
                           </div>
                           <form id="updateForm" method="post">
                              <div class="modal-body bg-dark text-light">
                                <div class="container">
                                           
                                             <div class="row" style="width: 1200">
                                              <div class="col-md-3 mb-3">
                                               <label for="startDateTime">Start</label>
                                               <input name="startDateTime" type="text" max="255" class="form-control" id="status" placeholder="startDateTime" value="{{event.startDateTime}}" readonly></div>
                                              <div class="col-md-3 mb-3">
                                                <label for="organizer">End</label>
                                                <input name="endDateTime" type="text" max="255" class="form-control" id="endDateTime" placeholder="endDateTime" value="{{event.endDateTime}}" readonly>
                                              </div>
                                              <div class="col-md-3 mb-4">
                                                <label for="participantsCount">No. of Participants</label>
                                                <input name="participantsCount" type="text" max="255" class="form-control" id="participantsCount" placeholder="participantsCount" value="{{event.participantsCount}}" readonly>
                                             </div>
                                             </div>
                                            <br>
                                            <div class="row" style="width: 1200">
                                             <div class="col-md-6 mb-4">
                                                <label for="description">Description</label>
                                                <textarea id="description" name="description" rows="8" cols="110" style="resize: none;" readonly>{{event.description}}</textarea>
                                             </div>
                                            </div>
                                            <br>
                                            <div class="row" style="width: 1200">
                                              <div class="col-md-3 mb-3">
                                                <label for="organizer">Organizer</label>
                                                <input name="organizer" type="text" max="255" class="form-control" id="organizer" placeholder="organizer" value="{{event.organizer.user.first_name}} {{event.organizer.user.last_name}}" readonly>
                                              </div>
                                              <div class="col-md-3 mb-3">
                                               <label for="type">Type of Event</label>
                                               <input name="type" type="text" max="255" class="form-control" id="type" placeholder="type" value="{{event.type}}" readonly>
                                              </div>
                                              <div class="col-md-3 mb-3">
                                                <label for="upvotes">Upvotes</label>
                                                <input name="upvotes" type="text" max="255" class="form-control" id="upvotes" placeholder="upvotes" value="{{event.upvotes}}" readonly>
                                              </div>
                                            </div>
                                              <br>       
                                    <div class="col-sm-4" hidden>
                                       <input name="eventID" id="eventID" type="int" placeholder="" class="form-control" max="100" value="{{event.id}}"> 
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#e9c46a; color:#ffffff;">BACK</button> &nbsp; &nbsp;
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- Modal Review-->
                  <!-- <div class="modal fade" id="modalReview-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                     <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <div class="modal-header" style="background-color:#ffb703; color:black;">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                              <h5 class="modal-title">EVENT REVIEW</h5>
                           </div>
                           <form id="addReviewForm" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="modal-body bg-dark text-light">
                                 <div class="row">
                                    <div class="col-sm-4" hidden>
                                       <input name="eventID" id="eventID" type="int" placeholder="" class="form-control" max="100" value="{{event.id}}"> 
                                    </div>
                                     <div class="container">
                                           
                                     <div class="row" style="width: 1200">
                                        <div class="col-md-5 mb-3">
                                           <label>Name of Event</label>
                                           <input name="name" id="name" type="text" placeholder="" class="form-control" max="100" value="{{event.name}}" readonly>
                                        </div>
                                         <div class="col-md-4 mb-3">
                                           <label>Review Title</label>
                                           <input name="title" id="title" type="text" placeholder="" class="form-control" max="100" value="" required>
                                        </div>
                                     </div>
                                    <br> <br>
                                    <div class="row" style="width: 1200">
                                    <div class="col-md-6 mb-4">
                                      <strong>
                                         <p>&nbsp;&nbsp;&nbsp;&nbsp;My Review</p>
                                      </strong>
                                         <textarea id="description" name="description" rows="8" cols="115" style="resize: none;">
                                         </textarea>
                                    </div>
                                 </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#9d0208; color:#ffffff;">CANCEL</button>
                                 &nbsp;&nbsp;
                                 <button type="submit" id="btnReview" name="btnReview" class="btn" style="background-color:#023047; color:#ffffff;">SUBMIT</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div> -->
                  {% endfor %}
               </tbody>
            </table>
            <div id="card-header" class="card-header bg-dark text-light">
                <h6 class="text-center" style="font-weight: 100;">Click "View" to read details about the event and join</h6>
            </div>
        </div> 
    </div>
    <!-- Modal Organizer Request-->
                    <div class="modal fade" id="modalOrgRequest" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#1b263b">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" style="color:#fff">REQUEST TO BE AN ORGANIZER</h5>
                                </div>
                                <form id="updateForm" method="post">
                                 {% csrf_token %}
                                    <div class = "row">
                                        <div class = "col-sm-12"><br><br>
                                            <center>
                                                Request for Organizer role for more privilege
                                            </center><br><br>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class = "row">
                                        <div class = "col-sm-12"><center>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                            <button type="submit" id="btnUpdate" name="btnUpdate" class="btn btn-primary">SUBMIT</button></center>
                                        </div>
                                    </div><br>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Administrator Request-->
                    <div class="modal fade" id="modalAdminRequest" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#1b263b">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" style="color:#fff">REQUEST TO BE AN ADMINISTRATOR</h5>
                                </div>
                                <form id="updateForm" method="post">
                                 {% csrf_token %}
                                    <div class = "row">
                                        <div class = "col-sm-12"><br><br>
                                            <center>
                                                Request for Administrator role for more privilege
                                            </center><br><br>
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div class = "col-sm-12"><center>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                            <button type="submit" id="btnUpdate" name="btnUpdate" class="btn btn-primary">SUBMIT</button></center>
                                        </div>
                                    </div><br>
                                </form>
                            </div>
                        </div>
                    </div>
</div>

 <!-- Modal My Account-->
                    <div class="modal fade" id="myaccountModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#ffb703">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" style="color:#fff">MY PROFILE</h5>
                                </div>
                                <form id="updateForm" method="post">
                                    <div class="modal-body bg-dark text-light">
                                        <input type="text" name="id" hidden>
                                          <div class="container">
                                           
                                             <div class="row" style="width: 1200">
                                              <div class="col-md-3 mb-3">
                                               <label for="user-firstname">First Name</label>
                                               <input name="user-firstname" type="text" max="255" class="form-control" id="firstname" placeholder="firstname" value="{{user.first_name}}"></div>
                                              <div class="col-md-3 mb-3">
                                                <label for="user-lastname">Last Name</label>
                                                <input name="user-lastname" type="text" max="255" class="form-control" id="lastname" placeholder="lastname" value="{{user.last_name}}">
                                              </div>
                                             </div>
                                            <br>
                                            <div class="row" style="width: 1200">
                                             <div class="col-md-3 mb-3">
                                                <label for="user-email">Email</label>
                                                <input name="user-email" type="text" max="255" class="form-control" id="email" placeholder="email" value="{{user.email}}" >
                                             </div>
                                              <div class="col-md-3 mb-3">
                                                <label for="user-username">Username</label>
                                                <input name="user-username" type="text" max="255" class="form-control" id="username" placeholder="username" value="{{user.username}}">
                                             </div>
                                            </div>
                                            <br>
                                            <div class="col-sm-4" hidden>
                                    </div>
                                         </div>    
                                    </div>
                                    <div class="modal-footer">
                                       {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">BACK</button>
                                        <button type="submit" id="btnUpdateProfile" name="btnUpdateProfile" class="btn btn-primary" style="background-color:#028090; color:#ffffff;">UPDATE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                   
{% endblock content %}
</body>
</html>
